In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from scipy.stats import boxcox
from plotnine import *
from plotnine import ggplot, aes, geom_line
from pmdarima.arima import auto_arima
from statsmodels.tsa.arima.model import ARIMA
from tqdm.notebook import tqdm

In [12]:
# Load Data
calendar = pd.read_csv("Data/calendar_afcs2020.csv")
sales = pd.read_csv("Data/sales_train_evaluation_afcs2020.csv")
train = pd.read_csv("Data/sales_train_validation_afcs2020.csv")
sample_submission = pd.read_csv("Data/sample_submission_afcs2020.csv")
price = pd.read_csv("Data/sell_prices_afcs2020.csv")

In [32]:
# Convert days into dates
calendar['date'] = pd.to_datetime(calendar['date'])
datetime = calendar[["date","d"]].copy()

#### Moving Average

In [55]:
item_train = train.iloc[0:len(train)].iloc[:,1:].T.reset_index()
item_train = pd.merge(left=item_train,right=calendar,left_on="index",right_on="d",how="left")
# item_train.drop(["d","index"],axis=1,inplace=True)
# item_train = item_train.rename({"date":"ds",item_train.columns[0]:"y"},axis=1)
# item_train = item_train[item_train.columns[::-1]]

In [56]:
item_train

,index,0,1,2,3,4,5,6,7,8,...,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA
0,d_1,0,0,0,0,0,1,0,0,1,...,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0
1,d_2,0,0,0,0,0,0,0,0,0,...,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0
2,d_3,0,0,0,0,0,1,0,0,0,...,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0
3,d_4,0,1,0,0,0,1,0,0,0,...,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1
4,d_5,0,0,0,0,0,0,0,0,0,...,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,d_1909,0,0,0,0,0,0,1,0,0,...,Wednesday,5,4,2016,d_1909,NaN,NaN,NaN,NaN,0
1909,d_1910,0,1,1,0,0,0,0,0,0,...,Thursday,6,4,2016,d_1910,NaN,NaN,NaN,NaN,0
1910,d_1911,0,1,0,0,0,0,0,0,0,...,Friday,7,4,2016,d_1911,NaN,NaN,NaN,NaN,0
1911,d_1912,0,0,1,0,0,1,0,0,0,...,Saturday,1,4,2016,d_1912,NaN,NaN,NaN,NaN,0
1912,d_1913,0,0,3,0,0,2,0,0,0,...,Sunday,2,4,2016,d_1913,NaN,NaN,NaN,NaN,0